Ballot#48 Grahame Grieve | From: as described in section 4.1.3 of RFC6749](https://tools.ietf.org/html/rfc6749#page-29) | fix link

### Ballot Weight
A-T

### Where
SMART authorization and resource retrieval :: /

### What
Grahame Grieve
From: as described in section 4.1.3 of RFC6749](https://tools.ietf.org/html/rfc6749#page-29)
Comment: fix link

### Josh's Triage Notes
Disposition: Persuasive

We agree to fix this link.

### Disposition
Disposition: Persuasive

We agree to fix this link.

### Vote Details
Pro-Con-Abstain: 4-0-2
Date: 2017-11-02

applied