Ballot#117 John Moehrke, By Light Professional IT Services | From: as described in section 4.1.3 of RFC6749](https://tools.ietf.org/html/rfc6749#pa...

### Ballot Weight
A-T

### Where
SMART authorization and resource retrieval :: /

### What
John Moehrke, By Light Professional IT Services
From: as described in section 4.1.3 of RFC6749](https://tools.ietf.org/html/rfc6749#page-29)
Comment: fix link

### Josh's Triage Notes
Disposition: Persuasive

### Disposition
Disposition: Persuasive

### Vote Details
Pro-Con-Abstain: 4-0-2
Date: 2017-11-02

applied